body, html {
  margin: 0;
  padding: 0;
}

.bnpb-edukasi {
  background: #FF7F0E;
  color: white;
}

.container {
  padding-bottom: 100px;
}

.img-content {
  margin-top: 10px;
}
.img-content img {
  width: 80%;
  max-width: 700px;
  display: block;
  margin: auto;
}

.p-content {
  margin: 15px 0;
  text-align: justify;
}

ul.button-content {
  list-style: none;
  padding: 0;
}
ul.button-content li {
  margin-bottom: 10px;
}
ul.button-content li a {
  border-radius: 0;
  background: white;
  color: #000;
  width: 100%;
  border: none;
  display: block;
  padding: 8px 5px;
  text-align: center;
}
ul.button-content li a.hover {
  color: #FF7F0E;
  text-decoration: none;
}

.nav-page-header {
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}
.nav-page-header a {
  color: white;
}

.desc-content {
  width: 100%;
  padding: 5px 10px;
  background: white;
  margin-top: 10px;
  margin-bottom: 20px;
}
.desc-content p {
  text-align: justify;
  color: #000;
  margin: 10px 0;
}
.desc-content ol {
  color: #000;
  padding-left: 15px;
  list-style-type: decimal;
}
.desc-content ol li {
  margin-bottom: 20px;
}
.desc-content ol.normal-margin li {
  margin-bottom: 0;
}
.desc-content ol.list-small-char li {
  list-style-type: lower-latin;
  margin-bottom: 0;
}
.desc-content img {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.desc-content small {
  color: #000;
  margin-bottom: 10px;
}

.footer-content {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
  -webkit-box-shadow: 0px -2px 7px 0px #cc6d00;
  -moz-box-shadow: 0px -2px 7px 0px #cc6d00;
  box-shadow: 0px -2px 7px 0px #cc6d00;
  padding: 5px 15px;
  background: #F08300;
  text-align: center;
}
.footer-content a {
  font-size: 12px;
  vertical-align: middle;
  width: 100%;
  display: block;
  padding: 5px;
  background: #337AB7;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
