body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
	max-width: 90% !important;
}

.acebs-navbar{
	background-color: #FF7F0E !important;
	margin-bottom: 20px;
}

.navbar-center .navbar-brand{
	margin: auto !important;
}

.navbar{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.navbar-brand{
	color: white !important;
	padding-top: 0 !important;
}

.navbar-nav a{
	color: white !important;
}

.navbar-nav a:hover{
	padding-bottom: calc(.5rem - 1px);
	padding-top: calc(.5rem - 1px);
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.dataTables_length{
	text-align: left !important;
}

.dataTables_info{
	font-size: 12px !important;
}

select, input{
	border-radius: 0 !important;
}

td.fit{
	width: 1%;
	white-space: nowrap;
}

.card-data{
	margin-bottom: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-top: none !important;
}

.card-data .card-header{
	background: white;
	border-top: 3px solid #FF7F0E !important;
	text-align: left;
}

.card-default{
	margin-bottom: 20px;
}
.card-default .card-header{
	background: white;
	border-top: 3px solid #ddd !important;
	text-align: center;
}

.card-success .card-header{
	background: white;
	border-top: 3px solid #008548 !important;
	text-align: left;
}
.card-success{
	margin-bottom: 4px;
}

.card-grafik .card-header{
	background: white;
	border-top: 2px solid #ddd !important;
	text-align: center;
}

.dataTables_info{
	text-align: left;
}

.form-control:focus, .page-link:focus{
	box-shadow: none !important;
}

table.dataTables tr td, table.dataTables tr td{
	text-align: left !important;
	font-size: 12px !important;
}

.no-padding{
	padding: 0 !important;
}

.sub-card{
	margin-top: 20px;
	margin-bottom: 50px;
}


/* total assessment */
.total-assessment-part{
	border-radius: 0;
	height: 110px;
}

.total-assessment-part .card{
	border: none !important;
}

.total-assessment-part .left-side{
	background: #009ABF;
	padding: 10px;
	color: white;
	font-size: 55px;
	height: 110px;
}

.total-assessment-part .right-side{
	background: #00C0EF;
	padding: 10px;
	height: 110px;
}

.total-assessment-part .right-side p{
	text-align: left;
	color: white;
	margin-bottom: 5px;
}

.total-assessment-part .right-side h5{
	text-align: left;
	color: white;
}

.total-assessment-part .col-lg-4{
	padding-right: 0;
}

.total-assessment-part .col-lg-8{
	padding-left: 0;
}

/* total assessment */
.total-tidak-rentan-part{
	border-radius: 0;
	height: 110px;
}

.total-tidak-rentan-part .card{
	border: none !important;
}

.total-tidak-rentan-part .left-side{
	background: #008548;
	padding: 10px;
	color: white;
	font-size: 55px;
	height: 110px;
}

.total-tidak-rentan-part .right-side{
	background: #00A65A;
	padding: 10px;
	height: 110px;
}

.total-tidak-rentan-part .right-side p{
	text-align: left;
	color: white;
	margin-bottom: 5px;
}

.total-tidak-rentan-part .right-side h5{
	text-align: left;
	color: white;
}

.total-tidak-rentan-part .col-lg-4{
	padding-right: 0;
}

.total-tidak-rentan-part .col-lg-8{
	padding-left: 0;
}

/* total rentan */
.total-rentan-part{
	border-radius: 0;
	height: 110px;
}

.total-rentan-part .card{
	border: none !important;
}

.total-rentan-part .left-side{
	background: #C27D0E;
	padding: 10px;
	color: white;
	font-size: 55px;
	height: 110px;
}

.total-rentan-part .right-side{
	background: #F39C12;
	padding: 10px;
	height: 110px;
}

.total-rentan-part .right-side p{
	text-align: left;
	color: white;
	margin-bottom: 5px;
}

.total-rentan-part .right-side h5{
	text-align: left;
	color: white;
}

.total-rentan-part .col-lg-4{
	padding-right: 0;
}

.total-rentan-part .col-lg-8{
	padding-left: 0;
}

/* total sangat-rentan */
.total-sangat-rentan-part{
	border-radius: 0;
	height: 110px;
}

.total-sangat-rentan-part .card{
	border: none !important;
}

.total-sangat-rentan-part .left-side{
	background: #B13C2E;
	padding: 10px;
	color: white;
	font-size: 55px;
	height: 110px;
}

.total-sangat-rentan-part .right-side{
	background: #DD4B39;
	padding: 10px;
	height: 110px;
}

.total-sangat-rentan-part .right-side p{
	text-align: left;
	color: white;
	margin-bottom: 5px;
}

.total-sangat-rentan-part .right-side h5{
	text-align: left;
	color: white;
}

.total-sangat-rentan-part .col-lg-4{
	padding-right: 0;
}

.total-sangat-rentan-part .col-lg-8{
	padding-left: 0;
}

/*  */
.align-right{
	text-align: right !important;
}

.align-left{
	text-align: left !important;
}

.no-border{
	border: none !important;
}
