body,html{
	margin: 0;
	padding: 0;
}
.bnpb-edukasi{
	background: #FF7F0E;
	color: white;
}

.container{
	padding-bottom: 100px;
}

.img-content{
	margin-top: 10px;
	img{
		width: 80%;
		max-width: 700px;
		display: block;
		margin: auto;
	}
}

.p-content{
	margin : 15px 0;
	text-align: justify;
}

ul.button-content{
	list-style: none;
	padding: 0;
	li{
		margin-bottom: 10px;
		a{
			border-radius: 0;
			background: white;
			color: #000;
			width: 100%;
			border: none;
			display: block;
			padding: 8px 5px;
			text-align: center;
			&.hover{
				color: #FF7F0E;
				text-decoration: none;
			}
		}
	}
}

.nav-page-header{
	margin: 10px 0;
	font-weight: bold;
	text-align: center;
	a{
		color: white;
	}
}

.desc-content{
	width: 100%;
	padding: 5px 10px;
	background: white;
	margin-top: 10px;
	margin-bottom: 20px;
	p{
		text-align: justify;
		color: #000;
		margin: 10px 0;
	}
	ol{
		color: #000;
		padding-left: 15px;
		list-style-type: decimal;
		li{
			margin-bottom: 20px;
		}
		&.normal-margin{
			li{
				margin-bottom: 0;
			}
		}
		&.list-small-char{
			li{
				list-style-type: lower-latin;
				margin-bottom: 0;
			}
		}
	}
	img{
		width: 100%;
		max-width: 700px;
		display: block;
		margin: auto;
		margin-top: 10px;
	}
	small{
		color: #000;
		margin-bottom: 10px;
	}
}

.footer-content{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 5px;    
	-webkit-box-shadow: 0px -2px 7px 0px rgba(204,109,0,1);
    -moz-box-shadow: 0px -2px 7px 0px rgba(204,109,0,1);
    box-shadow: 0px -2px 7px 0px rgba(204,109,0,1);
    padding: 5px 15px;
    background: #F08300;
	text-align: center;
	a{
		font-size: 12px;
		vertical-align: middle;
		width: 100%;
		display: block;
		padding: 5px;
		background: #337AB7;
		color: white;
		text-align: center;
	}
}